@import "null.scss";

body {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.wrapper {
	min-height: 100vh;
}

.container {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 20px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 72px;
	text-transform: uppercase;
}

.burger-menu {
}
.burger-menu__button {
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 30;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgb(51, 51, 51);
}
.burger-menu__lines,
.burger-menu__lines::before,
.burger-menu__lines::after {
	transition: all 0.1s ease 0s;
	position: absolute;
	width: 40px;
	height: 6px;
	background-color: #fff;
}
.burger-menu__lines {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
	content: "";
	top: -12px;
}
.burger-menu__lines::after {
	content: "";
	top: 12px;
}

.burger-menu__lines.active {
	background-color: transparent;
}
.burger-menu__lines.active::before {
	transform: rotate(45deg);
	top: 0;
}
.burger-menu__lines.active::after {
	transform: rotate(-45deg);
	top: 0;
}

.burger-menu__nav {
	text-align: center;
	transition: all 0.3s ease 0s;
	padding: 100px 50px 0px 50px;
	display: flex;
	flex-direction: column;
	z-index: 20;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	background-color: rgb(51, 51, 51);
	left: -100%;
}
.burger-menu__link {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 0px 40px 0px;
}

.burger-menu__link:hover {
	font-size: 38px;
	color: rgb(157, 219, 255);
}

.burger-menu__nav.active {
	left: 0;
}
.burger-menu__overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
}

.burger-menu__overlay.active-overlay {
	display: block;
}

#section-1 {
	background-color: rgb(155, 231, 152);
}
#section-2 {
	background-color: rgb(152, 209, 231);
}
#section-3 {
	background-color: rgb(169, 152, 231);
}
#section-4 {
	background-color: rgb(206, 152, 231);
}
#section-5 {
	background-color: rgb(231, 152, 218);
}

.lock {
	overflow: hidden;
}
